<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"
    />
    <link rel="stylesheet" href="../assets/css/common.css" />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <title>历史溯源</title>
  </head>
  <body>
    <div id="container">
      <!-- 导航 -->
      <div class="navbox">
        <div class="nav">
          <div class="logo"></div>
          <ul class="menu">
            <li class="item"><a href="../index.html">概览</a></li>
            <li class="item active"><a href="javascript:void(0)">溯源</a></li>
            <li class="item"><a href="./activities.html">活动</a></li>
            <li class="item"><a href="./record.html">记录</a></li>
            <li class="item"><a href="./values.html">意义</a></li>
          </ul>
        </div>
      </div>

      <div id="main">
        <h2>五一劳动节的由来</h2>

        <div class="card">
          <p class="title">背景调研</p>
          <p class="content">
            19世纪，美国和欧洲的许多国家，逐步由资本主义发展到帝国主义阶段，为了刺激经济的高速发展，榨取更多的剩余价值，以维护这个高速运转的资本主义机器，资本家不断采取增加劳动时间和劳动强度的办法来残酷地剥削工人。<br><br>
            在美国，工人们每天要劳动14至16个小时，有的甚至长达18个小时，但工资却很低。马萨诸塞州一个鞋厂的监工曾经说过这样的话：“让一个身强力壮体格健全的18岁小伙子，在这里的任何一架机器旁边工作，我能够使他在22岁时头发变成灰白。”沉重的阶级压迫激起了无产者巨大的愤怒。他们知道，要争取生存的条件，就只有团结起来，通过罢工运动与资本家作斗争。工人们提出的罢工条件，就是要求实行八小时工作制。
          </p>
        </div>

        <div class="card">
          <p class="title">时间轴</p>
          <p class="content">
            <div class="timeline_wrapper">
              <section class="event">
                <p class="stamp">1890年5月1日</p>
                <p class="mainCon">欧美各国的工人阶级率先走向街头，举行盛大的示威游行与集会，争取合法权益。从此，每逢这一天世界各国的劳动人民都要集会、游行，以示庆祝，并公众放假。</p>
              </section>

              <section class="event">
                <p class="stamp">1889年7月14日</p>
                <p class="mainCon">各国马克思主义者召集的社会主义者代表大会，在法国巴黎隆重开幕。大会上，会代表一致同意：把5月1日定为国际无产阶级的共同节日。这一决定立即得到世界各国工人的积极响应。</p>
              </section>

              <section class="event">
                <p class="stamp">1886年5月1日</p>
                <p class="mainCon">以美国芝加哥为中心，在美国举行了约35万人参加的大规模罢工和示威游行，示威者要求改善劳动条件，实行八小时工作制。</p>
              </section>

              <section class="event">
                <p class="stamp">1884年10月</p>
                <p class="mainCon">美国和加拿大的八个国际性和全国性工人团体，在美国芝加哥举行一个集会，决定于1886年5月1日举行总罢工，迫使资本家实施八小时工作制。</p>
              </section>

              <section class="event">
                <p class="stamp">1877年</p>
                <p class="mainCon">美国历史上第一次全国罢工开始。工人阶级走向街头游行示威，向政府提出改善劳动与生活条件，要求缩短工时，实行八小时工作制。罢工不久，队伍日渐扩大，工会会员人数激增，各地工人也纷纷参加了罢工运动。</p>
              </section>
            </div>
          </p>
        </div>
      </div>
    </div>
    <div class="to_top">
      <img src="../assets/img/up.svg" alt="" />
    </div>
  </body>
  <script src="../assets/js/index.js"></script>
</html>
