<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"
    />
    <link rel="stylesheet" href="../assets/css/common.css" />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <title>留影记录</title>
  </head>
  <body>
    <div id="container">
      <!-- 导航 -->
      <div class="navbox">
        <div class="nav">
          <div class="logo"></div>
          <ul class="menu">
            <li class="item"><a href="../index.html">概览</a></li>
            <li class="item"><a href="./history.html">溯源</a></li>
            <li class="item"><a href="./activities.html">活动</a></li>
            <li class="item active"><a href="javascript:void(0)">记录</a></li>
            <li class="item"><a href="./values.html">意义</a></li>
          </ul>
        </div>
      </div>
      
      <div id="main">
        <p class="record_title">纪录片：新中国第一个劳动节是怎么过的</p>
        <div class="video">
          <img class="cover" src="../assets/img/ipad.png" alt="" />
          <p class="tips">若无法显示视频，请使用EDGE浏览器预览！</p>
          <iframe
            id="iframe"
            src="https://player.bilibili.com/player.html?aid=205313251&bvid=BV1Nh411m7gS&cid=331775134&page=1&high_quality=1&danmaku=0"
            scrolling="no"
            border="0"
            frameborder="no"
            framespacing="0"
            allowfullscreen="true"
            sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts"
          >
          </iframe>
        </div>

        <p class="record_title">展览馆</p>
        <div class="imgbox">
          <div class="img_item"><img src="../assets/img/p1.jpg" alt="" /></div>
          <div class="img_item"><img src="../assets/img/p2.jpg" alt="" /></div>
          <div class="img_item"><img src="../assets/img/p3.jpg" alt="" /></div>
          <div class="img_item"><img src="../assets/img/p4.jpg" alt="" /></div>
          <div class="img_item"><img src="../assets/img/p5.jpg" alt="" /></div>
          <div class="img_item"><img src="../assets/img/p6.jpg" alt="" /></div>
        </div>

        <!-- <p class="record_title">动画</p>
        <embed class="flash" src="../assets/flash/May Day.swf" type="" /> -->
      </div>
    </div>
    <div class="to_top">
      <img src="../assets/img/up.svg" alt="" />
    </div>
  </body>
  <script src="../assets/js/index.js"></script>
</html>
