/* format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

/* scorllbar */
::-webkit-scrollbar {
  margin-right: 200px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgba(#fff, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #fb7299;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  background-image: url(../img/bg.jpg);
  font-family: 'Microsoft YeHei', Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-user-select: none;
}

#container {
  width: 100%;
  overflow: hidden;
}

.navbox {
  width: 100%;
  height: 60px;
  background-color: #43cd90;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav {
  width: 1000px;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 170px;
  height: 45px;
  background-image: url(../img/logo.png);
  background-size: cover;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
}

.menu .item a {
  width: 100px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.2em;
  font-weight: bold;
  text-decoration: underline 2px transparent;
  text-underline-offset: 10px;
  transition: all 0.4s linear;
}

.item.active a,
.item a:hover {
  text-decoration: underline 2px #fff;
  text-underline-offset: 10px;
}

#main {
  width: 1000px;
  margin: 0 auto;
  padding: 100px 40px 60px;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  background-image: url(../img/slogan_bottom.png);
  background-repeat: no-repeat;
  background-position: center calc(100% - 10px);
  background-size: 12%;
  overflow: hidden;
}

#main::before,
#main::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 174px;
  height: 183px;
  background-image: url(../img/sprite.png);
  background-size: cover;
  background-position: 0 0;
  z-index: -1;
}

#main::after {
  left: calc(100% - 130px);
  bottom: 10px;
  width: 174px;
  height: 180px;
  background-position: 0px -185px;
}

.to_top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fb7299;
  color: #fff;
  text-align: center;
  transition: all 0.4s linear;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
}

.to_top img {
  transform: scale(0.7);
}