* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #2e2e2e;
  position: relative;
  overflow: hidden;
  .btn {
    padding: 30px 60px;
    font-size: 36px;
    background-color: #999;
    color: #999;
    cursor: pointer;
    letter-spacing: 4px;
    box-sizing: border-box;
    z-index: 999;
    box-shadow: 10px 10px 30px rgba($color: #000000, $alpha: 0.2);
    text-shadow: 1px 1px 1px #fff, -1px -1px 1px #000;
  }
  .block {
    position: absolute;
    width: 50px;
    height: 50px;
    box-shadow: 10px 10px 30px rgba($color: #000000, $alpha: 0.2);
  }
}
