<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"
    />
    <link rel="stylesheet" href="../assets/css/common.css" />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <title>劳动节的分类</title>
  </head>
  <body>
    <div id="container">
      <!-- 导航 -->
      <div class="navbox">
        <div class="nav">
          <div class="logo"></div>
          <ul class="menu">
            <li class="item"><a href="../index.html">概览</a></li>
            <li class="item"><a href="./history.html">溯源</a></li>
            <li class="item active"><a href="javascript:void(0)">活动</a></li>
            <li class="item"><a href="./record.html">记录</a></li>
            <li class="item"><a href="./values.html">意义</a></li>
          </ul>
        </div>
      </div>

      <div id="main">
        <h2>五一劳动节的活动有哪些</h2>

        <p class="guide">
          世界各国一般都会举行相应的庆祝活动。<br />不过，并不是所有国家都将5月1日定为劳动节<br />那些同过“五一”的国家，具体的庆祝方式和习惯也大不相同。
        </p>

        <div class="card">
          <p class="title">中国</p>
          <p class="content">
            1999年9月18日，中国国务院发布《国务院关于修改〈全国年节及纪念日放假办法〉的决定》，第一次修订了1949年12月23日中国政务院发布的《全国年节及纪念日放假办法》，将每年春节、“五一”和国庆节法定节日加上调休，全国放假7天，形成了3个“黄金周”。
          </p>
        </div>

        <div class="card">
          <p class="title">俄罗斯</p>
          <p class="content">
            游行、集会、娱乐一个都不少，自国际上设立劳动节以来，俄罗斯一直重视这个特别的节日。“五一”这天，俄罗斯全国放假，并举行各种庆祝活动及群众性游行。
          </p>
        </div>

        <div class="card">
          <p class="title">欧洲各国</p>
          <p class="content">
            在英国和德国，当局担心示威恐怕会有无政府主义者闹事捣乱。在德国柏林，警方和无政府主义者半夜发生冲突，有多人被捕。不过，数千名工会活跃分子却和平地在市内游行。在法国和奥地利，反对退休金改革的人也上街参与游行。从土耳其国家电视台的新闻画面完全可以看见，警方用警棍打示威者，并扯着其中一人的头发把他拉走。
          </p>
        </div>

        <div class="card">
          <p class="title">美国</p>
          <p class="content">
            劳动节发源地不过“五一”。　劳动节起源于美国。19世纪80年代，美国资产阶级为了进行资本积累，对工人阶级进行残酷的剥削压榨，他们用各种手段，迫使工人每天从事长达12到16小时甚至更多时间的劳动。美国广大工人逐渐认识到，为了保障自己的权利，必须进行斗争。
          </p>
        </div>

        <div class="card">
          <p class="title">日本</p>
          <p class="content">
            劳动节逢“黄金周”　日本是一个节日比较多的国家，5月1日前后的节日就很多，如4月29日植树节、5月3日宪法纪念日、4日国民假日、5日儿童节，这些假日连起来，一般日本人至少有一周休息时间，最长的甚至达11天。
          </p>
        </div>

        <div class="card">
          <p class="title">埃及</p>
          <p class="content">
            被称为劳动节5月1日，被视为有薪假期。传统上，埃及总统主持正式五月节庆祝活动在开罗；由于总统的情况下，根据2011年的革命，以及由国家控制所面临的腐败指控，全国工会中心（埃及工会联合会），2011年的庆祝活动是由独立工会（团结的旗帜下举办埃及为独立的行业工会联合会），为1952年以来的第一次革命。
          </p>
        </div>
      </div>
    </div>
    <div class="to_top">
      <img src="../assets/img/up.svg" alt="" />
    </div>
  </body>
  <script src="../assets/js/index.js"></script>
</html>
