<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui"
    />
    <link rel="stylesheet" href="../assets/css/common.css" />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <title>五一劳动节的意义</title>
  </head>
  <body>
    <div id="container">
      <!-- 导航 -->
      <div class="navbox">
        <div class="nav">
          <div class="logo"></div>
          <ul class="menu">
            <li class="item"><a href="../index.html">概览</a></li>
            <li class="item"><a href="./history.html">溯源</a></li>
            <li class="item"><a href="./activities.html">活动</a></li>
            <li class="item"><a href="./record.html">记录</a></li>
            <li class="item active"><a href="javascript:void(0)">意义</a></li>
          </ul>
        </div>
      </div>

      <div id="main">
        <div class="ref">
          <p class="refcon">
            劳动是人类的本质活动，劳动光荣、创造伟大是对人类文明进步规律的重要诠释。“民生在勤，勤则不匮。”中华民族是勤于劳动、善于创造的民族。正是因为劳动创造，我们拥有了历史的辉煌；也正是因为劳动创造，我们拥有了今天的成就。
          </p>
          <p class="sign">——习近平</p>
        </div>

        <div class="letter">
          <span class="pin">📌</span>
          <p class="tit">致勤劳的你</p>
          <div class="letter_main">
            <p>
              中华民族历来以劳动为荣，是一个崇尚劳动、刻苦耐劳、勤劳勇敢的民族。墨家就反对不劳而获，主张自食其力。相传在远古时代，神农氏就“教民农作”，教给人民耕作方法。《史记》中有“舜耕历山”的记载，颂扬了古圣贤以身作则、勤于劳作的高尚品德。大禹治水在外一共13年，三过家门而不入，体现了勤勉奉公、刻苦耐劳的精神。李大钊曾说，我认为人生求乐的方法，莫过于尊重劳动。新中国成立后，对于劳动者的权益给予法律和制度上的保护保障。劳动创造世界，劳动光荣，劳动神圣。没有勤劳勇敢的精神，就没有中华民族的丰富多彩的物质文明与光辉灿烂的精神文明的产生。建国以来，无数各行各业劳动者艰辛的付出，才有了今天祖国经济的繁荣富强。
            </p>
            <p>
              “人生在勤，勤则不匮。”幸福不会从天降，美好生活靠劳动创造。全面建成小康社会的奋斗目标，为广大劳动群众指明了光明的未来；全面建成小康社会的历史任务，为广大劳动群众赋予了光荣的使命；全面建成小康社会的伟大征程，为广大劳动群众提供了宝贵的机遇。面对这样一个千帆竞发、百舸争流、有机会干事业、能干成事业的时代，广大劳动群众一定要倍加珍惜、倍加努力。
            </p>
            <p>
              国际劳动节的意义在于劳动者通过斗争，用顽强、英勇不屈的奋斗精神，争取到了自己的合法权益，是人类文明民主的历史性进步，这才是五一劳动节的精髓所在。所以，人们才这么注重劳动节。
            </p>
            <p>
              劳动不仅有关人的健康和智慧，也有关人的快乐和美好。劳动使我们生活丰富多彩，劳动锻炼和造就了我们人类。人的伟大其实就在于会劳动、能劳动和爱劳动。没有劳动的人生是毫无意义的，能体现劳动的生活是充满幸福的。
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="to_top">
      <img src="../assets/img/up.svg" alt="" />
    </div>
  </body>
  <script src="../assets/js/index.js"></script>
</html>
